*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Header Section Styles Start From Here */

#header-container{
    background-color: #1E1E1E;
    height: 100vh;

}

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    padding-top: 4rem;
}
#nav-list{
    display: flex;
    gap: 2rem;
    font-size: 21px;
    list-style: none;
    align-items: center;
}

#logo{
    color: #FD6F00;
    font-weight: 700;
    font-size: 32px;
}

#download-cv{
    background-color: #FD6F00;
    border: none;
    color: #FFFFFF;
    font-size: 21px;
  padding: 10px 13px;
}

/* Banner Section Styles Star From Here */

#banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

#banner-main-text{
    color:#FFFFFF;
    font-size: 2.5rem;
    font-weight: 800;
    margin-right: 2rem;
  
}
#banner-details-text{
    margin-top: 0.8rem;
    color:#FFFFFF ;
}
#banner-img{
  width: 26rem;
  height: 29rem;
}

/* Banner Section Styles End Here */

/* Header Section Styles End Here */