/* Universal styles start from here */
*{
    margin: 0;
    padding: 0;
}
/* Universal styles end here */

/* Shared style start from here */


.azeret-mono-primary {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-primary{
    color: #0D1321;
}
.btn-learn-more{
    padding: 12px 20px;
   
    

}
.btn-learn-more>a{
    text-decoration: none;
    color: #0D1321;
    opacity: 70%;
   
}
/* Shared style end here */

/* nav style start from here */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;


}
.nav-btn{
    font-weight: 600;
    font-size: 20px;
    opacity: 80%;
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 8px;

}


/* nav style end here */

/* Hero Section style start from here */
.hero{
    margin-top: 50px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
}
.hero-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 45px;
}
.hero-title{
    font-weight: 800;
    font-size: 40px;
    margin-top: 32px;
    margin-bottom: 24px;

}
.hero-description{
    margin-bottom: 53px;
}
.btn-contact{
    color: #FFFFFF;
    background-color:#0D1321;
    border-radius: 8px;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600px;
    text-decoration: none;
}

/* Hero section style end here */
/* Why web development styles start from here */
.why-web{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.why-web-container{
    text-align: center;
    margin-top: 154px;
}
.why-web-title{
    font-weight: 800;
    font-size: 32px;
}
.why-web-description{
    opacity: 70%;
    margin-top: 24px;
}

.why-web-container-1{
    display: flex;
    margin-top: 96px;
    justify-content: center;
    gap: 98px;
}
.why-web-title-1{
    font-weight: 700;
    font-size: 24px;
    opacity: 70%;
    margin-bottom: 16px;
}
.why-web-description-1{
    opacity: 70%;
    margin-bottom: 32px;
}
/* Why web development styles end here */
